<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <!-- Estilos de Bootstrap con tema Cyborg de Bootswatch -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/cyborg/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SCANLAND</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/register">Registrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <h1 class="text-center">Bienvenido a Nuestra Empresa</h1>
    <div class="row mt-4">
      <div class="col-md-4">
        <h2>Misión</h2>
        <p>Empoderar a los agricultores con información geoespacial de vanguardia para optimizar sus operaciones, mejorar la rentabilidad de sus cultivos y garantizar la sostenibilidad a largo plazo..</p>
      </div>
      <div class="col-md-4">
        <h2>Visión</h2>
        <p>Ser el líder global en servicios de escaneo y análisis de predios agrícolas, reconocido por la calidad y precisión de nuestros datos, la innovación tecnológica y nuestro compromiso con el éxito de nuestros clientes..</p>
      </div>
      <div class="col-md-4">
        <h2>Objetivo</h2>
        <p>Ofrecer servicios especializados en escaneo y análisis detallado de predios agrícolas utilizando datos geoespaciales de Google Earth Engine y Machine Learning para predecir las variables objetivo y mejorar la rentabilidad del cultivo.</p>
      </div>
    </div>
  </div>

  <!-- Archivos de Bootstrap y Popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybVuL5ZLVxB8AK6A5lT77VhCj/8iTuJoCOv+1mgPxhU9K/ScQsAP7HUi+ZB1X3l4" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


