<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCANLAND</title>
    <!-- Archivos de Bootstrap con tema de Bootswatch -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/cyborg/bootstrap.min.css">
    <style>
        body {
            background-image: url('../images/SCLN2.jpg');
            background-size: cover;
            background-position: inherit;
            color: #fff;
        }

        .navbar {
            margin-bottom: 20px;
        }

        .card {
            background-color: #2a2a2a;
            opacity: 90%;
        }

        .card-header,
        .card-body {
            border-color: #444;
        }

        .form-control {
            background-color: #3a3a3a;
            color: #fff;
            border-color: #555;
        }

        .form-control:focus {
            background-color: #3a3a3a;
            color: #fff;
            border-color: #777;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

        .rounded-circle {
            border: 2px solid #fff;
        }

        .text-shadow {
            text-shadow: 1px 1px 2px #000;
        }
    </style>
</head>

<body>
    <!-- Botón para ir a la página de inicio en la parte superior izquierda -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">SCANLAND</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Registrar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-auto m-2">
                    <div class="card-header text-center">
                        <img class="card-img-top mx-auto m-2 rounded-circle" style="width:150px; height:150px; display:block" src="/images/Imagen1.png" alt="Logo">
                        <h3 class="text-uppercase p-4 text-shadow">SCANLAND SERVICES</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <form action="" class="mx-auto">
                            <div class="mb-3">
                                <label class="form-label" for="usu">Usuario:</label>
                                <input class="form-control" type="text" id="usu" name="usu" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="cve">Clave:</label>
                                <input class="form-control" type="password" id="cve" name="cve" required>
                            </div>
                            <button class="btn btn-primary w-100" type="button" onclick="login()">Validar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Archivos de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybVuL5ZLVxB8AK6A5lT77VhCj/8iTuJoCOv+1mgPxhU9K/ScQsAP7HUi+ZB1X3l4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib.js"></script>
</body>

</html>
